@font-face {
    font-family: "Norse-Bold";
    src: url("Norse-Bold.otf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
}


.left-container {
    width: 30vw;
    height: 100vh;
    background-image: url('bgImage.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-container {
    font-family: 'Norse-Bold', Arial, Helvetica, sans-serif;
    height: 150px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 6rem;
}



.left-footer {
    color: white;
    position: absolute;
    bottom: 10px;
    left: 35%;
    font-size: smaller;
}